:root {
  --titleColor: #024CAA;
  --textColor: #54b3d6;
  --titleSec2: #1b5db2;
}

.cardSection {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;  
  min-height: 100vh; 
  padding-top: 10px;
  background-image: url('/public/bgdsection2-mobile.jpg');
}

.title {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  color: #438fab;
  text-shadow: 2px 2px 3px white;
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
  font-size: 27px;
  opacity: 0; 
  transform: scale(0); 
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.title.inView {
  opacity: 1; 
  transform: scale(1); 
  animation: anim-popoutin 5s ease-out;
  animation-iteration-count: 3; 
}

@keyframes anim-popoutin {
  0% {
    color: var(--titleSec2);
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 white;
  }
  25% {
    color: var(--titleSec2);
    transform: scale(1.1);
    opacity: 1;
    text-shadow: 3px 10px 5px white;
  }
  50% {
    color: var(--titleSec2);
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 white;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 white;
  }
}

.cardsContent {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  gap: 20px; 
  width: 90vw;
  margin: 0 auto; 
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .title {
    font-size: 37px;
  }

  @keyframes anim-popoutin {
    0% {
      color: var(--titleSec2);
      transform: scale(0);
      opacity: 0;
      text-shadow: 0 0 0 white;
    }
    25% {
      color: var(--titleSec2);
      transform: scale(1.5);
      opacity: 1;
      text-shadow: 3px 10px 5px white;
    }
    50% {
      color: var(--titleSec2);
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 white;
    }
    100% {
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 white;
    }
  }
}

