/* .customCard {
    width: calc(33% - 20px); 
    margin-bottom: 20px;
}

.customImage {
    width: 100;
    height: 280px;
    background-size: cover;
}

.contentCard {
    height: 20px;
    display: flex;
    justify-content: space-between;
} */

.customCard { 
  width: calc(33% - 20px); /* Trei carduri pe rând pe ecrane mai mari */
  margin-bottom: 20px;
  position: relative; /* Necesită poziționare pentru conținut */
  overflow: hidden; /* Ascunde elementele care depășesc containerul */
}

.imageWrapper {
  position: relative; /* Suprapunerea este poziționată în raport cu imaginea */
  overflow: hidden; /* Asigură că suprapunerea și efectele hover sunt limitate la imagine */
}

.customImage {
  width: 100%; /* Redimensionare proporțională */
  height: 280px; /* Înălțimea fixă a imaginii */
  background-size: cover;
  transition: transform 0.3s ease-in-out; /* Efect de zoom pe imagine */
}

/* Suprapunerea pentru detalii */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Dimensiunea completă a imaginii */
  background-color: rgba(0, 0, 0, 0.6); /* Fundal întunecat semi-transparent */
  transform: translateY(100%); /* Ascunde suprapunerea inițial */
  transition: transform 0.3s ease-in-out; /* Tranziție lină */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Textul din suprapunere */
.overlayText {
  color: #F3B469;
  font-size: 16px;
  text-align: center;
}

/* Efect hover pentru suprapunere */
.customCard:hover .overlay {
  transform: translateY(0); /* Afișează suprapunerea */
}

/* Efect hover pentru imagine */
.imageWrapper:hover .customImage {
  transform: scale(1.1); /* Zoom pe imagine */
}

.price {
  font-size: 17px;
  font-weight: 700;
  font-style: italic;
  width: 100px;
  margin: auto;
  border-bottom: thick double #32a1ce;

}
.contactItems {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 10px;
}

.text {
  font-style: italic;
  font-weight: 900;
  font-size: 15px;
  /* color: #54b3d6; */
}

.registrationText {
  font-style: italic;
  font-weight: 900;
  font-size: 15px;
}

.registrationText:hover {
  transform: scale(1.0) translateX(5px);
}

.icon {
  height: 25px;
}
/* Conținutul cardului */
.contentCard {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}


/* Media query pentru dispozitive mobile */
@media (max-width: 767px) {
  .customCard {
    width: 100%; /* Un card pe rând */
    margin-bottom: 20px; /* Păstrează spațiul între carduri */
  }
}