:root {
  --titleColor: #024CAA;
  --textColor: #54b3d6;
  --orangeText: #EC8305;
}

.header {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url('../../images/mobileBgd.png');
  background-size: cover;
  height: 100vh;
  justify-content: center; 
}

.titles {
  color: var(--titleColor);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100vw;
  gap: 10px;
}

.title {
  font-family: "DM Serif Text", serif;
  font-weight: 900;
  font-style: italic;
  text-align: left;
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

  .topBar {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 15px; */
    margin-top: 0px;
    padding-top: 0px;
    width: 90vw;
    justify-content: center;
    align-items: center;
  }

  .title1 {
    padding-left: 20px;
  }

  .p2title {
    padding-left: 10px;
  }

  h1,h2 {
    font-family: "DM Serif Text", serif;
    font-weight: 800;
    font-style: italic;
    margin: 0px;
    font-size: 40px;
  }

  .lineUp {
    animation: 2s anim-lineUp ease-out 0s;
  } 
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
    }

   .contacts {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
   }

  .phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 20px;
   
  }

  .contactItem {
    display: flex;
  }

  .phone {
    display: flex;
    gap: 5px;
    text-decoration: none;
  }

  .contactItem:hover {
    transform: scale(1.2) translateX(12px);
  }

  .icon {
    margin-right: 5px;
    color: var(--orangeText);
  }

  .svg {
    gap: 5px;
  }

  .svgs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
     width: 100vw;
  }

  .text {
    background: -webkit-linear-gradient(350deg, var(--orangeText), #F1A850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   font-family: "DM Serif Text", serif;
   font-weight: 600;
  }

  .letter {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .letter:hover,
  .letter:focus,
  .letter:active {
    transform: scale(1.1) translateX(5px);
  }

  .rotatingParagraph {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    background: -webkit-linear-gradient(350deg, var(--orangeText), #F3B469);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 10px;
 
  }

  .words {
    position: relative;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 90px;
  }

  .rotatingText {
    position: absolute; 
    font-family: "DM Serif Text", serif;
    font-size: 20px;
    opacity: 0;
    text-transform: uppercase;
    background: -webkit-linear-gradient(350deg, var(--orangeText), #F3B469);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    animation-timing-function: ease-in-out;
   
  
  &:nth-of-type(1) { 
    animation: rotate-text-up 1.5s 2s; 
  }
  
  &:nth-of-type(2) { 
    animation: rotate-text-up 1.5s 3.5s; 
  }  
  
  &:nth-of-type(3) { 
    animation: fade-text-in 1.5s 5s forwards;
  }
}

@keyframes rotate-text-up { 
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  
  20%, 80% {
    opacity: 1;
    transform: translateY(0);
  }
  
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fade-text-in { 
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  
  50%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (min-width: 768px) {

.topBar {
  margin: auto;
  width: 100vw;
}

 .contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
  margin-top: 20px;
 }

 .phones {
  margin-top: 0;
 }

 .svgs {
  width: 100px;
  margin: 0%;
 }

 .title {
  font-size: 40px;
 }

 .rotatingParagraph {
  font-size: 25px;
 }
}

@media (min-width: 1024px) {

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('../../images/headerbgd.png');
  background-position: center;
  overflow: hidden; 
  width: 100vw;
  justify-content: flex-start;
}

.topBar {
  margin-top: 0px;
  margin-bottom: 15px;
}

.contacts {
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 0px;
  padding: 10px 0px;
  width: 100vw;
  height: 50px;
}

.contactItem {
 font-size: 18px;
}

.phones {
  flex-direction: row;
  gap: 50px;
}

.titles {
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  align-items: start;
  padding-left: 40px;
  padding-top: 30px;
  margin-top: 15px;
  color:#024CAA;
  
}

.title1 {
  padding-left: 55px;
}

.title {
  font-size: 35px;
  font-family: "Sofia", serif;
  font-weight: 600;
  font-style: normal;
}

.rotatingParagraph {
 display: none;
}

.words {
  display: none;
}

}
