:root {
  --titleColor: #024CAA;
  --textColor: #54b3d6;
  --orangeText: #EC8305;
}

.header {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.titles {
  color: var(--titleColor);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 30px; */
  margin-top: 60px;
  width: 100vw;
}

.title {
  font-family: "DM Serif Text", serif;
  font-weight: 900;
  font-style: italic;
  text-align: left;
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

/* .header {
    width: 80vw;  
    height: 500px; 
  }  */

  .topBar {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 15px; */
    margin-top: 0px;
    padding-top: 0px;
    width: 90vw;
    justify-content: center;
    align-items: center;
  }

  /* .titles {
    margin-left: 40px;
    margin-top: 60px;
    gap: 40px;
    width: 400px;
  } */

  /* .title {
    width: 400px;
    gap: 8px;
    font-size: 35px;
    letter-spacing: 0.0em;
  } */

  .title1 {
    padding-left: 20px;
  }

  .p2title {
    padding-left: 10px;
  }

  h1,h2 {
    font-family: "DM Serif Text", serif;
    font-weight: 800;
    font-style: italic;
    margin: 0px;
    font-size: 40px;
  }

  .lineUp {
    animation: 2s anim-lineUp ease-out 0s;
  } 
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
    }

  /* .nav {
   display: flex;
   justify-content: space-evenly;
   gap: 40px;
   margin-top: 15px;
   width: 200px;
   margin-left: 200px;
  } */

  /* .navItem {
    text-decoration: none;
    margin: 0;
    padding: 0;
    height: 30px;
    box-shadow: inset 0 0 0 0 #54b3d6;
     background: -webkit-linear-gradient(350deg, #EC8305, #F7CD9B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

  .navItem {
    font-family: "DM Serif Text", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
  }

  .navItem:hover {
    background: -webkit-linear-gradient(350deg, #54b3d6, #bae0ee);
    -webkit-background-clip: text;
    color: #fff;
   } */

   .contacts {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
   }
  /* .contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 40px;
    /* margin-left: 135px; */
    /* width: 95vw; */
    /* border-bottom: 1px dashed #54b3d6; */
    /* position: absolute;
    top: 0px;
    right: 0px; */
    /* margin: auto;
    margin-top: 20px; */
  /* } */ 

  .phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
   
  }

  .contactItem {
    display: flex;
  }

  .phone {
    display: flex;
    gap: 5px;
    text-decoration: none;
  }

  /* .email {
    margin-left: 50px;
  } */

  .contactItem:hover {
    transform: scale(1.2) translateX(12px);
  }

  .icon {
    margin-right: 5px;
    color: var(--orangeText);
  }

  .svg {
    /* margin-left: 80px; */
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
    /* width: 100px; */
    gap: 5px;
  }

  .svgs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
     width: 100vw;
  }

  .text {
    background: -webkit-linear-gradient(350deg, var(--orangeText), #F1A850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   font-family: "DM Serif Text", serif;
   font-weight: 600;
  }

  .letter {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .letter:hover,
  .letter:focus,
  .letter:active {
    transform: scale(1.1) translateX(5px);
  }

  .rotatingParagraph {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    /* margin-left: 1120px; */
    background: -webkit-linear-gradient(350deg, var(--orangeText), #F3B469);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: auto;
    margin-top: 70px;
 
  }

  .words {
    /* margin-left: 1100px; */
    /* height: auto;
    margin: auto; */
    position: relative;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 40px;
  }

  .rotatingText {
    /* font-family: "DM Serif Text", serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    text-transform: uppercase;
    background: -webkit-linear-gradient(350deg, var(--orangeText), #F9D9B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto; */
    position: absolute; 
    font-family: "DM Serif Text", serif;
    font-size: 20px;
    opacity: 0;
    text-transform: uppercase;
    background: -webkit-linear-gradient(350deg, var(--orangeText), #F3B469);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    animation-timing-function: ease-in-out;
   
  
  @media (min-width: 768px) { 
   /* font-size: 70px; */
  }
  
  &:nth-of-type(1) { 
    animation: rotate-text-up 1.5s 2s; 
  }
  
  &:nth-of-type(2) { 
    animation: rotate-text-up 1.5s 3.5s; 
  }  
  
  &:nth-of-type(3) { 
    animation: fade-text-in 1.5s 5s forwards;
  }
}

/* // Animations */
@keyframes rotate-text-up { 
  0% {
    /* transform: translate3d(0, 80px, 0); */
    opacity: 0;
    transform: translateY(20px);
  }
  
  20%, 80% {
    /* transform: translate3d(0, 0, 0); */
    opacity: 1;
    transform: translateY(0);
  }
  
  100% {
    /* transform: translate3d(0, -40px, 0); */
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fade-text-in { 
  0% {
    opacity: 0;
    /* transform: translate3d(0, 80px, 0); */
    transform: translateY(20px);
  }
  
  50%, 100% {
    opacity: 1;
    /* transform: translate3d(0, 0, 0); */
    transform: translateY(0);
  }
}

/* .logo {
  width: 180px;
  height: 140px;
  margin-top: -35px;
  margin-left: 140px;
  border: none;
  border-radius: 0;
  box-shadow: none;
} */

@media (min-width: 768px) {
.topBar {
  margin: auto;
  width: 100vw;
}

 .contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
  margin-top: 20px;
 }

 .phones {
  margin-top: 0;
 }

 .svgs {
  width: 100px;
  margin: 0%;
 }

 .title {
  font-size: 40px;
 }

 .rotatingParagraph {
  font-size: 25px;
 }
}

@media (min-width: 1024px) {

.header {
  height: 700px;
  /* background-image: url('/public/headerbgd.png'); */
  overflow: hidden; 
  width: 100vw;
}

.topBar {
  margin-top: 0px;
  margin-bottom: 15px;
}

.contacts {
  justify-content: center;
  /* background-image: url('../../images/mobileBgd.png'); */
  align-items: center;
  gap: 50px;
  margin-top: 0px;
  /* border-bottom: 0.5px solid var(--textColor); */
  padding: 10px 0px;
  width: 100vw;
  /* background-color: white; */
  height: 50px;
}

.contactItem {
 font-size: 18px;
}

.phones {
  flex-direction: row;
  gap: 50px;
}

.titles {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px black;
  align-items: start;
  padding-left: 40px;
  padding-top: 30px;
  margin-top: 15px;
  color:#EC8305;
}

.title1 {
  padding-left: 55px;
}

.title {
  font-size: 40px;
}

.rotatingParagraph {
 display: none;
}

.words {
  display: none;
}

}
