@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

:root {
  --titleColor: #024CAA;
  --textColor: #54b3d6;
  --orangeText: #EC8305;
}

.videoSectionContainer {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  width: 100vw;
}

.cloudBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  z-index: -1;
  animation: moveClouds 60s linear infinite;
}

@keyframes moveClouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sectionTitle {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 600;
  color: var(--orangeText);
  text-align: center;
  margin: 20px 0;
  position: relative;
  z-index: 1;
  opacity: 0; 
  transform: translateX(-100%); 
  transition: opacity 0.5s ease-out, transform 1.5s ease-out;
}

.sectionTitle.inView {
  opacity: 1; 
  transform: translateX(0); 
}

.videoContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0.5rem;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .videoSectionContainer {
    padding: 30px 0;
  }

  .sectionTitle {
    font-size: 30px;
    margin: 30px 0;
  }

  .videoContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  .videoSectionContainer {
    padding-top: 10px;
  }

  .sectionTitle {
    font-size: 40px;
    margin: 50px 0;
  }

  .videoContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    gap: 2rem;
    padding: 1.5rem;
  }
}