.footer {
  background-color: #f8f9fa; /* Culoare de fundal deschisă */
  padding: 20px 0;
  border-top: 1px solid #e0e0e0; /* Linie de separare */
  font-family: "DM Serif Text", serif;
  width: 100vw;
}

.footerContent {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column; /* Layout coloană pentru mobile */
  gap: 20px;

}

.contactInfo, .privacyNotice, .copyright {
  flex: 1;
  min-width: 100%; /* Ocupă întreaga lățime pe mobile */
}

.contactInfo h3, .privacyNotice h3 {
  display: flex;
  font-size: 18px;
  color: #024CAA; /* Culoare titlu */
  margin-bottom: 10px;
}

.contactInfo p {
  font-size: 15px;
  color: #333; /* Culoare text */
  line-height: 1.6;
}

.privacyNotice p {
  font-size: 16px;
  color: #333; /* Culoare text */
  line-height: 1.6;
}

.contactInfo a {
  color: #024CAA; /* Culoare link */
  text-decoration: none;
}

.contactInfo a:hover {
  text-decoration: underline;
}

.privacyNotice strong {
  color: #EC8305; /* Culoare pentru textul important */
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #666; /* Culoare text drepturi de autor */
}

/* Media queries pentru tablete și desktop */

@media (min-width: 768px) {
  .footerContent {
    flex-direction: row; /* Layout rând pentru tablete și desktop */
    flex-wrap: wrap; /* Permite elementelor să se încadreze pe mai multe rânduri */
  }

  .contactInfo, .privacyNotice {
    min-width: calc(50% - 10px); /* Două coloane pe tablete */
  }

  .copyright {
    min-width: 100%; /* Ocupă întreaga lățime */
  }
}

@media (min-width: 1024px) {
  .contactInfo, .privacyNotice, .copyright {
    min-width: calc(33.33% - 14px); /* Trei coloane pe desktop */
  }

  .copyright {
    padding-top: 20px;
  }
}